<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>All notes</title>
    <style type="text/css">
        body {
            background: #181a1b;
            color: #e8e6e3;
        }

        a {
            color: aqua;
        }
    </style>
</head>
<body>
<a href="/logout">Log Out</a>

<a href="/note/new">Create new note</a>

<a href="/note/archived">Archived notes</a>
<br/>

<table th:each="note : ${allNotes}">

    <tr>
        <th>Title</th>
        <td><span th:text="${note.getTitle()}"> </span></td>
    </tr>

    <tr>
        <th>Content</th>
        <td><span th:text="${note.getContent()}"> </span></td>
    </tr>

    <tr>
        <th>Changed</th>
        <td><span th:text="${#temporals.format(note.getUploadDate(), 'dd.MM.yyyy HH:mm')}"> </span></td>
    </tr>

    <br/>

    <form th:action="@{/note/edit/{id}(id=${note.getId()})}" method="GET">
        <button type="submit">edit</button>
    </form>

    <form th:action="@{/note/archive/{id}(id=${note.getId()})}" method="POST">
        <button type="submit">archive</button>
    </form>

    <form th:action="@{/note/delete/{id}(id = ${note.getId()})}" method="POST">
        <button type="submit">delete</button>
    </form >

</table>
</body>
</html>