<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>

<body>

<div th:replace="~{/fragments/header :: header}"></div>

<ul class="notes">
    <li class="singleNote" th:each="note : ${allArchivedNotes}">
        <h2 th:text="${note.getTitle()}"></h2>
        <div th:text="${note.getContent()}"> </div>
        <p>Edited: <span th:text="${#temporals.format(note.getUploadDate(), 'dd.MM.yyyy HH:mm')}"></span> </p>

        <div>
            <form class="noteButton" th:action="@{/note/edit/{id}(id=${note.getId()})}" method="GET">
                <button type="submit">edit</button>
            </form>

            <form class="noteButton" th:action="@{/note/unarchive/{id}(id=${note.getId()})}" method="POST">
                <button type="submit">unarchive</button>
            </form>

            <form class="noteButton" th:action="@{/note/delete/{id}(id = ${note.getId()})}" method="POST">
                <button type="submit">delete</button>
            </form>
        </div>
    </li>
</ul>
</body>

</html>