<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>New note</title>
    <meta charset="UTF-8">
    <style type="text/css">
        body {
            background: #181a1b;
            color: #e8e6e3;
        }
    </style>
</head>

<body>
<form action="#" th:action="@{/note/new}" th:object="${note}" method="POST">
    <label for="title">Title: </label>
    <br/>
    <input type="text" id="title" th:field="*{title}" />
    <br/>
    <label for="content">Content: </label>
    <br/>
    <textarea name="content" id="content" rows="4" cols="50" th:field="*{content}"></textarea>
    <br/>
    <input type="submit" value="Create" th:onclick="send()">
</form>
<form action="#" th:action="@{/note/all}">
    <input type="submit" value="Back" />
</form>
</body>

</html>