<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>All notes</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>

<body>
<div th:replace="~{/fragments/header :: header}"></div>

You have no archived notes.
<br/>
<a href="/note/new">Create new note</a>
<br/>
<a href="/note/all">All notes</a>
</body>

</html>