<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>All notes</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link th:href="@{/resources/static/css/notePageStyle.css}" rel="stylesheet" type="text/css">
</head>

<body>
<div th:replace="~{/fragments/navbar :: navbar}"></div>
<div class="container">
    <div class="card-columns">
        <div th:each="note : ${allArchivedNotes}" class="card">
            <img class="card-img-top"
                 src="https://images.unsplash.com/photo-1535025639604-9a804c092faa?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6cb0ceb620f241feb2f859e273634393&auto=format&fit=crop&w=500&q=80"
                 alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title" th:text="${note.getTitle()}"></h5>
                <!--TODO сделать заголовок кликабельным?-->
                <p class="card-text" th:text="${note.getContent()}"></p>
                <p class="card-text"><small class="text-muted">
                    <i class="fas fa-calendar-alt"
                       th:text="${#temporals.format(note.getUploadDate(), 'dd.MM.yyyy HH:mm')}"></i></small>
                </p>
                <div>
                    <form class="editNoteButton" th:action="@{/note/edit/{id}(id=${note.getId()})}" method="GET">
                        <button class="btn btn-white btn-round" type="submit">edit</button>
                    </form>
                    <form class="archiveNoteButton" th:action="@{/note/unarchive/{id}(id=${note.getId()})}"
                          method="POST">
                        <button class="btn btn-white btn-round" type="submit">unarchive</button>
                    </form>
                    <form class="deleteNoteButton" th:action="@{/note/delete/{id}(id = ${note.getId()})}" method="POST">
                        <button class="btn btn-white btn-round" type="submit">delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>