<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>New note</title>
    <meta charset="UTF-8">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link th:href="@{/resources/static/css/inputPageStyle.css}" rel="stylesheet" type="text/css">
</head>

<body>
<div th:replace="~{/fragments/navbar :: navbar}"></div>
<form action="#" th:action="@{/note/new}" th:object="${note}" method="POST">
    <label for="title">Title: </label>
    <br/>
    <input type="text" id="title" th:field="*{title}"/>
    <br/>
    <label for="content">Content: </label>
    <br/>
    <textarea name="content" id="content" rows="4" cols="50" th:field="*{content}"></textarea>
    <br/>
    <button class="btn btn-white btn-round" type="submit">Create</button>
</form>
<form action="#" th:action="@{/note/all}">
    <button class="btn btn-white btn-round" type="submit">Back</button>
</form>
</body>
</html>