<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>TEST HEADER</title>
</head>
<body>
<div th:fragment="header">
    <!-- TODO выровнять logout по правой стороне -->
    <a href="/logout">Log out</a>
    <a href="/note/all">All notes</a>
    <a href="/note/archived">Archived notes</a>
    <a href="/note/new">Create new note</a>
</div>
</body>
</html>