body {
    background: #262626;
    color: #e8e6e3;
}

ul.notes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

li.singleNote {
    margin: 10px auto;
    border-style: solid;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 500px;
    display: block;
    overflow-y: auto;
}

button.accessButton {
    display: inline-block;
    border-radius: 4px;
    background-color: green;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 5px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
}

button.accessButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button.accessButton span:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

button.accessButton:hover span {
    padding-right: 25px;
}

form.editNoteButton {
    float: left;
}

button.accessButton:hover span:after {
    opacity: 1;
    right: 0;
}

button.editNoteButton {
    background-color: rgba(0, 128, 0, 0.7);
    color: white;
}

form.archiveNoteButton {
    float: left;
}

button.archiveNoteButton {
    background-color: rgba(255, 140, 0, 0.73);
    color: white;
}

form.deleteNoteButton {
    float: right;
}

button.deleteNoteButton {
    background-color: rgba(255, 0, 0, 0.6);
    color: white;
}

a {
    color: aqua;
}

span.error {
    color: red;
}





