<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>

<body>

<form th:action="@{/login}" method="POST">

    <div th:if="${param.logout}">
        You have been logged out.
    </div>

    <table>
        <label for="email">Email:
            <input type="text" id="email" name="username">
        </label>
    </table>
    <table>
        <label for="password">Password:
            <input type="password" id="password" name="password">
        </label>
    </table>

    <span class="error" th:if="${param.error}">
        Invalid username or password.
    </span>

    <div>New user? <a href="/registration">Register here.</a> </div>
    <div>
        <input type="submit" value="Sign in" />
    </div>
</form>
</body>

</html>