<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <style type="text/css">
        body {
            background: #181a1b;
            color: #e8e6e3;
        }

        a {
            color: aqua;
        }
    </style>
</head>

<body>

<form th:action="@{/login}" method="POST">

    <div th:if="${param.logout}">
        You have been logged out.
    </div>

    <table>
        <label for="email">Email:
            <input type="text" id="email" name="username">
        </label>
    </table>
    <table>
        <label for="password">Password:
            <input type="password" id="password" name="password">
        </label>
    </table>

    <div style="color: red" th:if="${param.error}">
        Invalid username or password.
    </div>

    <div>New user? <a href="/registration">Register here.</a> </div>
    <div>
        <input type="submit" value="Sign in" />
    </div>
</form>
</body>

</html>