<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NoteApp</title>
    <style type="text/css">
        body {
            background: #181a1b;
            color: #e8e6e3;
        }
        a {
            color: aqua;
        }
    </style>
</head>
<body>

<h1>Note App</h1>
<br/>
<a href="/login">Login</a>
<br/>
<a href="/registration">Registration</a>
</body>
</html>