<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>
<body>

<form th:action="@{/registration}" th:object="${userDto}" method="POST">

    <div>
        <label for="First name"> First name:</label>
        <input type="text" id="First name" th:field="*{firstName}">
        <span class="error" th:if="${#fields.hasErrors()}" th:errors="*{firstName}"></span>
    </div>

    <div>
        <label for="Last name"> Last name:</label>
        <input type="text" id="Last name" th:field="*{lastName}">
        <span class="error" th:if="${#fields.hasErrors()}" th:errors="*{lastName}"></span>
    </div>

    <div>
        <label for="Email"> Email:</label>
        <input type="text" id="Email" th:field="*{email}">
        <span class="error" th:if="${#fields.hasErrors()}" th:errors="*{email}"></span>
    </div>

    <div>
        <label for="EmailConfirm"> Email confirm:</label>
        <input type="text" id="EmailConfirm" th:field="*{emailConfirm}">
        <span class="error"th:if="${#fields.hasErrors()}" th:errors="*{emailConfirm}"></span>
    </div>

    <div>
        <label for="Password"> Password:</label>
        <input type="password" id="Password" th:field="*{password}">
        <span class="error" th:if="${#fields.hasErrors()}" th:errors="*{password}"></span>
    </div>

    <div>
        <label for="PasswordConfirm"> Password confirm:</label>
        <input type="password" id="PasswordConfirm" th:field="*{passwordConfirm}">
        <span class="error" th:if="${#fields.hasErrors()}" th:errors="*{passwordConfirm}"></span>
    </div>

    <div>Already have an account? <a href="/login">Sign in</a> </div>

    <input type="submit" value="Register" th:onclick="send()">

</form>
</body>
</html>