<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <style type="text/css">
        body {
            background: #181a1b;
            color: #e8e6e3;
        }
        a {
            color: aqua;
        }
    </style>
</head>
<body>
<form action="#" th:action="@{/registration}" th:object="${user}" method="POST">


    <div><label for="First name"> First name: <input type="text" id="First name" th:field="*{firstName}"> </label></div>
    <div><label for="Last name"> Last name: <input type="text" id="Last name" th:field="*{lastName}"> </label></div>
    <div><label for="Email"> Email: <input type="text" id="Email" th:field="*{email}"> </label></div>
    <div><label for="Password"> Password: <input type="password" id="Password" th:field="*{password}"></label></div>
    <div><label for="Password confirm">Password confirm<input type="password" id="Password confirm" th:field="*{passwordConfirm}"></label></div>

    <div>Already have an account? <a href="/login">Sign in</a> </div>
    <input type="submit" value="Register" th:onclick="send()">
</form>
</body>
</html>