body {
    background: #232321;
}

.card {
    transition: 0.3s;
    border: none;
    margin: 1px;
    padding: 1px;
}

.card:hover {
    box-shadow: 0 5px 16px 0 rgba(255,255,255);
}

.card-text{
    height: 50px;
    overflow: auto;
}

.editNoteButton {
    float: left;
}

.archiveNoteButton {
    float: left;
}

form.deleteNoteButton {
    float: right;
}

.btn.btn-round {
    border-radius: 10px;
}

.btn.btn-link {
    color: black;
}
